Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        140
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.rgba:       rgb
Xft.lcdfilter:  lcddefault


! Attempt to get solarized colors right
! https://bbs.archlinux.org/viewtopic.php?id=164108
URxvt.intensityStyles: false

URxvt*font:             xft:PragmataPro Liga:size=12
URxvt*boldFont:         xft:PragmataPro Liga:size=12:bold
URxvt*italicFont:       xft:PragmataPro Liga:size=12:italic
URxvt*boldItalicFont:   xft:PragmataPro Liga:size=12:bold:italic
URxvt*letterSpace: -1

URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000
  
URxvt*perl-ext-common: default,tabbedex
URxvt*keysym.Control-Shift-N: perl:tabbedex:new_tab
URxvt*keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt*keysym.Control-Shift-J: perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right

URxvt*tabbedex.tabbar-fg: 15
URxvt*tabbedex.tabbar-bg: 236
URxvt*tabbedex.tab-fg: 110
URxvt*tabbedex.tab-bg: 236
URxvt*tabbedex.transparent: true
URxvt*tabbedex.new-button: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.perl-ext-common:      solarized, resize-font
URxvt.keysym.Mod4-c:        perl:solarized:toggle
URxvt.solarized.default:    light
